@tailwind base;
@tailwind components;
@tailwind utilities;

.money {
  position: absolute;
  top: -20%;
  left: 8%;
  width: 83.333333%;
  height: 8.5rem;
  background: url(/images/dollar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
}

.money-move-up {
  animation: money-up 5s forwards;
}

.left-triangle {
  width: 5vw;
  height: calc(100%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(-100% + 1px), 0);
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  z-index: -1;
}

.left-triangle-border {
  width: calc(5vw + 1px);
  height: calc(100%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background-color: rgb(252, 251, 248);
  z-index: -2;
}

.right-triangle {
  width: 5vw;
  height: calc(100%);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% - 1px), 0);
  clip-path: polygon(100% 50%, 0 100%, 0 0);
  z-index: -1;
}

.right-triangle-border {
  width: calc(5vw + 1px);
  height: calc(100%);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  clip-path: polygon(100% 50%, 0 100%, 0 0);
  background-color: rgb(252, 251, 248);
  z-index: -2;
}

.meme-text {
  font-family: impact;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
    -2px 0px 0 #000, 2px 2px 5px #000;
}

@keyframes money-up {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-40%);
  }
}
